<h1 style="color: red; text-align: center; font-family: Arial, sans-serif; font-size: 32px;">
  Data acquisition using pandas
</h1>

In [1]:
# EXP NO: 1

In [2]:
# AIM : To demonstrate how to acquire and load data efficiently using the Pandas library in Python, including reading from various        file formats such as CSV, Excel, and JSON.

In [3]:
#Name:YASH EKNATH JAYALE
#Roll no: 24
#sec: A
#subject: EMERGING TECH. LAB - I

In [4]:
import pandas as pd

In [5]:
import os

In [6]:
import os
os.getcwd()

'C:\\Users\\vitth'

In [7]:
os.chdir(r"C:\Users\vitth\OneDrive\Desktop")

In [8]:
df = pd.read_csv("diabetes (1).csv")

In [9]:
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [10]:
df.tail()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [11]:
df.shape

(768, 9)

In [12]:
df.size

6912

In [13]:
df.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

### âœ… Conclusion:
This practical demonstrated how to efficiently load and manage data using the Pandas library. By reading from various file formats such as CSV, Excel, and JSON, we learned how Pandas simplifies the data